aws_python/aws.zip
aws_feedback/aws.zip
aws_python/classifiers/*.csv
aws_python/.deploy
analysis_graphs/*.png
*.csv

# Ignore optimised/compiled files
__pycache__/
*.py[cod]

# Ignore OS files
.DS_Store
._*
*~

machine_learning_research/data
plugin/config.js
